@model PROYECTO_VERIS_MVC.Models.medicos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medicos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="~/imagenes/sellos/@Model.Foto" width="100px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidades.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidades.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMedico }) |
    @Html.ActionLink("Back to List", "Index")
</p>
