@model IEnumerable<PROYECTO_VERIS_MVC.Models.recetas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consultas.Diagnostico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medicamentos.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consultas.Diagnostico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medicamentos.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdReceta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdReceta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdReceta })
        </td>
    </tr>
}

</table>
