@model PROYECTO_VERIS_MVC.Models.medicamentos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medicamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMedicamento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
